<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='llista.css')}}">
    <script src="https://kit.fontawesome.com/3e4c1a6931.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th></th>
            <th>id</th>
            <th>titulo</th>
            <th>descripcion</th>
            <th>foto</th>
            <th>precio</th>
            <th>categoria</th>
            <th>venda</th>
            <th>creado</th>
            <th>actualizado</th>
        </tr>
        {% for dada in datos %}
        <tr>
            <td><a href="/products/read/{{dada.id}}"><i class="fa-solid fa-eye"></i></a> <a href="/products/update/{{dada.id}}"><i class="fa-solid fa-file-pen"></i></a> <a href="/products/delete/{{dada.id}}"><i class="fa-solid fa-trash"></i></a></td>
            <td>{{dada.id}}</td>
            <td>{{dada.title}}</td>
            <td>{{dada.description}}</td>
            <td>{{dada.photo}}</td>
            <td>{{dada.price}}</td>
            <td>{{dada.category_id}}</td>
            <td>{{dada.seller_id}}</td>
            <td>{{dada.created}}</td>
            <td>{{dada.updated}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Tornar</a>
</body>
</html>