<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='llista.css')}}">
    <script src="https://kit.fontawesome.com/3e4c1a6931.js" crossorigin="anonymous"></script>
    <title>Detalles del Producto</title>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <div>
        <p>ID: {{producte.id}}</p>
        <p>Título: {{producte.title}}</p>
        <p>Descripción: {{producte.description}}</p>
        <p>Foto: {{producte.photo}}</p>
        <p>Precio: {{producte.price}}</p>
        <p>Categoría: {{producte.category_id}}</p>
        <p>Vendedor: {{producte.seller_id}}</p>
        <p>Creado: {{producte.created}}</p>
        <p>Actualizado: {{producte.updated}}</p>
    </div>
    <a href="/list"><i class="fas fa-arrow-left"></i> Tornar a la llista</a>
</body>
</html>

