<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='create.css')}}">
    <title>Document</title>
</head>
<body>
    <h2>Actualizar Producto</h2>

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title() }}
        <br>
        {{ form.description.label }} {{ form.description() }}
        <br>
        {{ form.price.label }} {{ form.price() }}
        <br>
        {{ form.photo.label }} {{ form.photo() }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>