<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='create.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de Producto</h1>
    <form action="/products/update/{{datos.id}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" value="{{datos.title}}" maxlength="255" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" value="{{datos.description}}"  required>
        </div>
        <div class="form-group">
            <label for="foto">Foto:</label>
            <input type="file" id="foto" name="foto" accept="image/*" value="{{datos.photo}}" max-size="2048" required>
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" value="{{datos.price}}" required>
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>